<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
<div class="container">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="mobile-nav">
	<span class="navbar-toggle-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="mobile-nav">
	<ul class="navbar-nav ">
		<li class="nav-item">
			<a href="/" class="nav-link">Home</a>
		</li>
		<li class="nav-item">
			<a href="/home/task" class="nav-link">To Do </a>
		</li>
		
			<li class="nav-item ">
				<a href="/home/login" class="nav-link">Login </a>
			</li>
		
	</ul>

	</div>
</div>
</nav>