
{% extends 'base.html.twig' %}

{% block title%} HomePage {% endblock%}

{% block body %}
	<h1>ReadMe</h1>
	<body style="margin:0px;padding:0px;overflow:hidden">
    <iframe src="README.md" frameborder="0"  style="overflow:hidden;height:100vh;width:100%" ></iframe>
</body>

{% endblock %}

